#banner
    .banner_content
        %h1 Journal Repo
        %p Your every day thoughts. In one simple place. 
        %button= link_to "Enter", new_user_registration_path
#callouts
    .callout_inner
        .wrapper 
            .callout
                %h2 Organize
                %p Seitan fingerstache pickled biodiesel, offal blue bottle keffiyeh mumblecore vegan. IPhone farm-to-table church-key readymade, ethical brooklyn meggings mumblecore mustache selfies VHS tumblr occupy fixie. Keffiyeh fingerstache man braid vexillologist gluten-free irony intelligentsia cloud bread, poutine tote bagedison bulb master cleanse neutra. Venmo trust fund tumeric occupy, celiac salvia woke cornhole migas shaman post-ironic typewriter snackwave helvetica. Church-key echo park normcore blue bottle four dollar toast, kinfolk art party photo booth tote bag food truck kickstarter.

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path